@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #168AAD;
	 margin-left: auto;
    margin-right: auto;
}
header, nav, main, foteer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 25px;
}
header{
	height: auto;
}
h1, h2, h3, h4, h5, h6, p{
	color: white;
}
nav ul li a, section{
color: white;
}
section{
    background-color: #76C893;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
p{
    margin-top: 20px;
    text-align: center;
}
.row{
margin-left: auto;
margin-right: auto;
}
ol li a{
color:white;
}
footer{
	background-color: #184E77;
}
h1{
	background-color: #1E6091;
}
.img_flotante{
    width: 50%;
    float: left;
    margin-top: 0;
    margin-right: 20px;
}
.alineacion{
    float: right;
    margin: 0;
}
.img_coral{
    width: 100%;
    margin-top: 30px;
}